<div class="myfriends">
  <h2>My Friends</h2>
  <ul>

    <% @friendships.each do |friend| %>
    <%= friend.name %>, <%= friend.email %>
    <li>
      (<%= link_to "remove", friendship_path, :method => :delete %>)
        (<%= link_to "Show Friend's Wishlist", user_path(friend)%>)
    </li>

    <% end %>

  </ul>

  <h2>Users Who Have Befriended You</h2>
  <ul>
    <% current_user.inverse_friends do |user| %>
    <li><%=  user.name %></li>
    <% end %>

  </ul>
</div>



