<h1><center>Browse Etsy Categories</center></h1><center>

<% @cat_list.each do |c| %>
<%= link_to " #{c["name"]}", "http://www.etsy.com/listing-category/#{c["name"]}", target: "_blank" %>
<% end %>
<br>
<br>

<table>
  <thead>
    <th>Name</th>
    <th>Description </th>
    <th># of Items</th>
  </thead>
  <tbody>
    <% @searches.each do |search| %>
    <tr>
      <td><%= link_to search.name, search %></td>
      <td><%= search.description  %></td>
      <td><%= search.items.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= form_for Search.new do |f| %>
<%= f.label :name  %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.submit %>
<% end %>

<br>
<br>

