<!DOCTYPE html>
<html>
<head>
  <title>HolidayWishlist</title>
  <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>


<body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div id="snowglobe">
</div>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
  <%= link_to 'New Item', new_item_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

 <div class="row">
    <div id="site_banner" class="col-md-6 col-md-offset-3">
      <%= image_tag("holiday_wishlist_banner.png")  %>
    </div>
  </div>

  <script>

// snowflake animation from:http://sutherlandboswell.com/2012/11/creating-pretty-snow-with-javascript-html-css/

function getWidth() {
    var x = 0;
    if (self.innerHeight) {
        x = self.innerWidth;
    }
    else if (document.documentElement && document.documentElement.clientHeight) {
        x = document.documentElement.clientWidth;
    }
    else if (document.body) {
        x = document.body.clientWidth;
    }
    return x;
}

function getHeight() {
    var y = 0;
    if (self.innerHeight) {
        y = self.innerHeight;
    }
    else if (document.documentElement && document.documentElement.clientHeight) {
        y = document.documentElement.clientHeight;
    }
    else if (document.body) {
        y = document.body.clientHeight;
    }
    return y;
}

function getRandom(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

var width = getWidth();
var height = getHeight();
var flakeCount = 100;
var gravity = 0.8;
var windSpeed = 20;
var flakes = [];

var currentFlake = 0;
var snowglobe = document.getElementById("snowglobe");

while (currentFlake < flakeCount) {
    var flake = document.createElement("div");
    flake.className = 'flake';
    flake.style.fontSize = getRandom(12, 24) + 'px';
    flake.style.top = getRandom(0, height) + 'px';
    flake.style.left = getRandom(0, width) + 'px';
    flake.innerHTML = "•";
    newFlake = snowglobe.appendChild(flake);
    newFlake.speed = getRandom(1, 100);
    flakes.push(newFlake);
    currentFlake++;
}

function doAnimation() {
    for (var i = 0; i < flakes.length; i++) {
        newX = false;
        newY = false;
        // Calculate Y position
        newY = parseFloat(flakes[i].style.top) + (flakes[i].speed / 100) * gravity;
        if (newY > height) {
            newY = 0 - parseInt(flakes[i].style.fontSize);
            // If Y is at bottom, randomize X
            newX = getRandom(0, width);
        }
        // Calculate X position if it hasn't been set randomly
        if (!newX) newX = parseFloat(flakes[i].style.left) + Math.sin(newY / windSpeed);
        if (newX < -20) newX = width + 20;
        if (newX > width + 20) newX = -20;
        // Set new position
        flakes[i].style.top = newY + 'px';
        flakes[i].style.left = newX + 'px';
    }
}

//function to run every 10 milliseconds
setInterval(doAnimation, 10);

//account for the user changing the browser's size
//new width/height can be set to calculate possible snowflake positions
window.onresize = function(event) {
    width = getWidth();
    height = getHeight();
  }();

</script>

<%= yield %>

</body>
</html>
